PIA_LOCATION=ca
PIA_USER=p123456789
PIA_PASS=<your_pia_password>

USER_ID=1000
GROUP_ID=1000
LOCAL_NETWORK=192.168.0.0/16

# ensure this has permissions set so that qbittorrent/jellyfin can write
MEDIA_ROOT=/path/to/your/media
