PIA_LOCATION=ca

# WireGuard credentials (from PIA dashboard)
WIREGUARD_PRIVATE_KEY=<your_wireguard_private_key>
WIREGUARD_ADDRESS=<assigned_wireguard_ip>/32

USER_ID=1000
GROUP_ID=1000
# ensure this is the subnet of required interface in host
LOCAL_NETWORK=192.168.0.0/16

# ensure this has permissions set so that qbittorrent/jellyfin can write
MEDIA_ROOT=/path/to/your/media
